#womanIcon {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#underrep {
  text-align: center;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  width: inherit;
  color: #000;
}

#radio {
  text-align: center;
  position: absolute;
  top: 190px;
  left: 0;
  right: 1%;
  margin: 0 auto;
  z-index: 10;
  width: inherit;
}

#radioInfo {
  position: absolute;
  top: 190px;
  background: #FF797A;
}

#tv {
  text-align: center;
  position: absolute;
  top: 255px;
  left: 0;
  right: 1%;
  margin: 0 auto;
  z-index: 10;
  width: inherit;
}

#tvInfo {
  position: absolute;
  top: 190px;
  background: #FF3953;
}

#film {
  text-align: center;
  position: absolute;
  top: 315px;
  left: 0;
  right: 1%;
  margin: 0 auto;
  z-index: 10;
  width: inherit;
}

#filmInfo {
  position: absolute;
  top: 190px;
  background: #F20074;
}

#gaming {
  text-align: center;
  position: absolute;
  top: 385px;
  left: 0;
  right: 1%;
  margin: 0 auto;
  z-index: 10;
  width: inherit;
}

#gamingInfo {
  position: absolute;
  top: 190px;
  background: #FF6EA3;
}

.womenInfo {
  position: absolute;
}
